server:
  port: 9080
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user_route
          uri: lb://service-user
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
    nacos:
      server-addr: localhost:8848
      username: nacos
      password: nacos
      config:
        namespace: boot-cli
      discovery:
        namespace: boot-cli
  config:
    import:
      - nacos:boot-common.yml?group=DEFAULT_GROUP&refreshEnabled=true
      - nacos:gateway.yml?group=DEFAULT_GROUP&refreshEnabled=true
