version: "3.9"

services:
  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: mysql8
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Shanghai
    volumes:
      - ./mysql/data:/var/lib/mysql
    command:
      --default-authentication-plugin=mysql_native_password
    networks:
      - dev-network

networks:
  dev-network:
    name: dev-network
    driver: bridge